<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
<head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="{{ url_for('.index') }}">
        <img src="/static/pic/cnodejs_light.svg">
      </a>

      <form id="search_form" class="navbar-search" action="">
        <input type="text" id="q" name="q" class="search-query span3" value="">
      </form>
      <ul class="nav pull-right">
        <li><a href="{{ url_for('my_topic.index') }}">首页</a></li>
        <li><a href="{{ url_for('index.setting') }}">设置</a></li>
        <li>
          <a href="{{ url_for('.index') }}" data-method="post" rel="nofollow">退出</a>
        </li>
      </ul>
      <a class="btn btn-navbar" id="responsive-sidebar-trigger">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    </div>
  </div>
</div>

{% block main %}
{% endblock %}
<div id="footer">
  <div id="footer_main">
    <div class="links">
      <a class="dark" href="">2018－2019 , all rights reserved myself</a>
      |
      <a class="dark" href=""></a>
    </div>

    <div class="col_fade">

    </div>


  </div>
</div>

</body>