{% extends "topic/base.html" %}
{% block title %}论坛主页{% endblock%}
{% block main %}
    <div id="main">
        <div id="sidebar">
            <div class="panel">
                <div class="header">
                    <span class="col_fade">个人信息</span>
                </div>
                <div class="inner">

                    <div class="user_card">
                        <div>
                          <a class="user_avatar" href="{{ url_for('index.user_detail', username=user.username) }}">
                            <img src="{{ user.image }} ">
                          </a>
                          <span class="user_name"><a class="dark" href="{{ url_for('index.user_detail', username=user.username) }}">{{ user.username }}</a></span>
                          <div class="board clearfix">
                              <div class="floor">
                                <span class="big">积分: 30 </span>
                              </div>
                          </div>
                          <div class="space clearfix"></div>
                          <span class="signature">
                                “
                                    {{ user.signature }}
                                ”
                          </span>
                        </div>
                    </div>
                </div>
                <a href="{{ url_for('my_topic.new') }}" class="create_topic_btn">
                    <span class="span-success">发布话题</span>
                </a>
            </div>
        </div>
        <div id="content">
            <div class="panel">
                <div class="inner post">
                    <div class="topic_list">
                        {% for t in ms %}
                        <div class="cell">
                            <div class="topic_title_wrapper">
                                <a class="topic_title" href="{{ url_for('my_topic.detail', id=t.id) }}">
                                    {{ t.title }}
                                </a>
                                <span>{{ t.replies() | count }} / {{ t.views }}</span>
                                {# count(t.replies()) #}
                                {# <span>{{ t.reply_count() }} / {{ t.views }}</span> #}
                                <a class="topic_title" href="{{ url_for('my_topic.delete', id=t.id, token=token) }}">
                                删除
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}